[submodule "idleFingers"]
	path = idleFingers
	url = https://github.com/shinzui/vim-idleFingers.git
[submodule "io"]
	path = io
	url = https://github.com/vim-scripts/Io-programming-language-syntax.git
[submodule "vim-slim"]
	path = vim-slim
	url = https://github.com/bbommarito/vim-slim.git
[submodule "vim-indent-guides"]
	path = vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
